[Unit]
Description=Puppet Dashboard Workers Service
After=network.target

[Service]
Type=forking
User=http
ExecStart=/usr/bin/puppetdwd
Restart=on-abort
PIDFile=/opt/puppet-dashboard/tmp/pids/delayed_job.pid

[Install]
WantedBy=multi-user.target
